.button1{
    width: auto;
    height: 35px;
    font-size: 14px;
    border-radius: 50px;
    background: black;
    color:white;
    border-width: 1px;
    border-color: blue;
    padding-left:17px;
    padding-right:18px;
    cursor: pointer;
 
}
.button1:hover{
    background: blue;
}
.bike{
    background-image: linear-gradient(126deg, #050a0f 31%, #111117 96%);
    padding-top: 3%;
}
.image-caption{
    font-size: 1rem;
    font-weight: bolder;
    color:oldlace;
}
.bg-blue{
    background-image: linear-gradient( 126deg, rgba(13, 25, 43, 0.92) 31%, #04091c 96% );
}
body{
    font-family: "Josefin Sans", sans-serif;
}
.bg-color-menu{
    background-color: #222222;
}
.spec-sub-text{
    color: #bbb;
    font-size: 0.8rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;

}
.menu-btn{
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    text-align: left;
    color: white;
    cursor: pointer;
    padding-left: 0;
    cursor: pointer;
}
.bg-active{
    background-color: #2e2e2e;
}
.signup-image{
    background-image: url(image1.jpg);
    background-size: cover;
    width: 100%;
    height: 450px;
}
.position1{
    padding-top: 15%;
}
.buttonimage{
    background: none;
}
.image-text{
    font-size: 1.6em;
color: #fff;
letter-spacing: 8px;
margin-bottom: 1rem;
margin-top: 2rem;
text-align: center;
opacity: 0.92;
line-height: 2rem;
font-family: "Josefin Sans", sans-serif;
font-weight: 700;
}

.know-more{
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.36;
    letter-spacing: 2.2px;
    font-size: 1.2rem;
    color: #fff;
    font-family: "Josefin Sans", sans-serif;
}
.uv{
    background-color: #10141a
}
.know-more{
    letter-spacing: 1rem;
}
.footer{
    height: 70px;
    background: #111;
}
.footer-list {
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow: hidden;
  }
  
.list2 {
    display: inline;
    color:white;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 12px;
  }
  .flex-container{
        display: flex;
        flex-flow: row wrap;
  }
  .fa {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    color: black;
    background: none;
  }
  .fa:hover{
      color: black;
  }
  .fa-facebook {
    color: white;
  }
  .fa-twitter {
    color: white;
  }
  .fa-youtube {
    color: white;
  }
  .fa-instagram{
    color: white;
  }
  a{
      text-decoration: none;
  }
  .copy-right{
      font-size: 0.7rem;
      color: blanchedalmond;
      text-align: center;
  }